doctype html
html
    head
        meta(charset="UTF-8")
        title Youtube
        link(
            rel="icon"
            href="pngwing.com.png"
            type="image/x-icon"
            )
        link(rel="stylesheet" href="new.css")
        

    body
        .container
            include aside 

            .main
                .bloc
                    a(href="/home/azamat/Videos/youtube/Завоевания Генриха V ⚔️ Столетняя война (части 5-9) ⧸⧸ Маховик Истории [gLbjuw-Vsvo].webm")
                        video.video(controls)
                            source(src="/home/azamat/Videos/youtube/Завоевания Генриха V ⚔️ Столетняя война (части 5-9) ⧸⧸ Маховик Истории [gLbjuw-Vsvo].webm" type="video/webm")
                    .block
                        img.bannering.first(src="маховик.jpg")
                        p.first Завоевания Генриха V ⚔️ Столетняя война (части 5-9)



