doctype html
html
    head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/html/flex-box.css")
    body
        .container
            include testing

            .main
                audio(controls)
                    source(src="https://upload.wikimedia.org/wikipedia/commons/4/48/Mudchute_cow_1.ogg" type="audio/ogg")

            .aside
                table
                    tr
                        th(colspan="3") Корова
                    tr
                        th(colspan="3")
                            img.mount(src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Cow_%28Fleckvieh_breed%29_Oeschinensee_Slaunger_2009-07-07.jpg")
                    tr
                        td Домен
                        td Эукариоты
                        td Eukaryota
                    tr
                        td царство
                        td Животные
                        td Animalia
                    tr
                        td Тип
                        td Хордовые
                        td Chordata

                    tr
                        td Класс
                        td Млекопитающие
                        td Mammalia 
                    tr
                        td Отряд
                        td Китопарнокопытное
                        td Artiodactyla 
                    tr
                        td Семейство
                        td Полорогие
                        td Bovidae
                    tr
                        td Род
                        td Настоящие быки
                        td Bos
                    tr
                        td Вид
                        td Домашний Бык
                        td Bos taurus
