doctype html
html
    head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/html/flex-box.css")
    body
        .container
            include testing

            .main
                audio(controls)
                    source(src="zvuk-loshadi.mp3" type="audio/mp3")

            .aside
                table
                    tr
                        th(colspan="3") Конь
                    tr
                        th(colspan="3")
                            img.mount(src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Pernod_Al_Ariba_0046b.jpg?uselang=ru")
                    tr
                        td Домен
                        td Эукариоты
                        td Eukaryota
                    tr
                        td царство
                        td Животные
                        td Animalia
                    tr
                        td Тип
                        td Хордовые
                        td Chordata

                    tr
                        td Класс
                        td Млекопитающие
                        td Mammalia 
                    tr
                        td Отряд
                        td непарнокопытное
                        td Perissodactyla
                    tr
                        td Семейство
                        td Лошадиниые
                        td Equidae
                    tr
                        td Род
                        td Лошади
                        td Equus ferus 
                    tr
                        td Вид
                        td Домашняя Лошадь
                        td Equus ferus caballus
