doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title hello Louis of anjoi
    link(
    rel="stylesheet"
    href="style.css"
    )
  body
    .container
      div
        h1 Битва при Павии
        main#main
            p 
                | Битва при 
                b Павии 
                | в 1525 году
                include testing
