body {
    background-image: url(map-zenta.png);
}
.but {
    display: flex;
}

.eng {
    display: flex;
}
.army-eng {    
    position: relative;
    margin: 2px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.cav-eng {
    left: 400px;
    top: 800px;
    border-radius: 50%;
}

.charge {
    height: 100px;
    width: 100px;
    background-color: red;
}
.green {
    animation: attack 20s;
}

.green-a {
    animation: attack-2 20s;
}

.green-b {
    animation: attack-3 20s;
}

.green-c {
    animation: attack-4 20s;
}

.green-d {
    animation: attack-5 20s;
}

.green-x {
    animation: attack-after-charge-2 20s;
}

.green-y {
    animation: attack-after-charge 20s;
}


.y-eng {
    left: 350px;
    top: 800px;
}

.x-eng {
    left: 350px;
    top: 800px;
}



.a-eng {
    left: 400px;
    top: 800px;
}

.b-eng {

    left: 400px;
    top: 800px;
}
.c-eng {

    left: 400px;
    top: 800px;
}
.d-eng {

    left: 400px;
    top: 800px;
}


img {
    height: 50px;
    width: 50px;
}

#cav {
    border-radius: 50%;
}


.fre {
    display: flex;
}

.flang-ot {
    animation: go-back 20s;

    left: 1000px;
    top: 300px;
}

.a-army-fre {
    left: 900px;
    top: 400px;
}
.b-army-fre {
    left: 825px;
    top: 500px;
}
.c-army-fre {
    left: 800px;
    top: 600px;
}
.d-army-fre {
    left: 750px;
    top: 700px;
}


.cav-reserve {    
    animation: ottoman-cav 20s;
    border-radius: 50%;
    left: 1100px;
    top: 400px;
}
.new {
    display: flex;
}


.reserve {
    left: 1300px;
    top: 100px;
    border-radius: 50%;
    position: relative;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 2px;

}

.army-fre {
    position: relative;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 2px;

}




@keyframes attack {
    5% {
        left: 400px;
        top: 400px;
    }
    15% {
        left: 575px;
        top: 400px;
    }
    27.5% {
        left: 700px;
        top: 400px;
    }
    37.5% {
        left: 800px;
        top: 375px;
    }
    50% {
        left: 700px;
        top: 300px;
    }
    65% {
        left: 875px;
        top: 375px;
    }
    85% {
        left: 875px;
        top: 375px;
    }
    90% {
        left: 1000px;
        top: 450px;
    }
    100% {
        left: 1000px;
        top: 450px;
    }
    
}

@keyframes attack-after-charge {
    5% {
        left: 300px;
        top: 600px;
    }
    15% {
        left: 300px;
        top: 600px;
    }
    27.5% {
        left: 600px;
        top: 600px;
    }
    37.5% {
        left: 600px;
        top: 600px;
    }
    50% {
        left: 750px;
        top: 500px;
    }
    85% {
        left: 750px;
        top: 500px;
    }

    100% {
        left: 750px;
        top: 500px;
    }
}

@keyframes attack-after-charge-2 {
    5% {
        left: 350px;
        top: 700px;
    }
    15% {
        left: 350px;
        top: 700px;
    }
    27.5% {
        left: 650px;
        top: 700px;
    }
    50% {
        left: 700px;
        top: 650px;
    }
    75% {
        left: 700px;
        top: 300px;
    }
    85% {
        left: 1000px;
        top: 300px;
    }
    100% {
        left: 1000px;
        top: 300px;
    }
}


@keyframes attack-2 {
    5% {
        left: 400px;
        top: 500px;
    }
    15% {
        left: 525px;
        top: 500px;
    }
    27.5% {
        left: 650px;
        top: 500px;
    }
    37.5% {
        left: 650px;
        top: 500px;
    }
    500% {
        left: 750px;
        top: 375px;
    }
    100% {
        left: 750px;
        top: 375px;
    }
}

@keyframes attack-3 {
    5% {
        left: 400px;
        top: 600px;
    }
    15% {
        left: 475px;
        top: 600px;
    }
    27.5% {
        left: 600px;
        top: 600px;
    }
    50% {
        left: 600px;
        top: 600px;
    }
    100% {
        left: 600px;
        top: 600px;
    }
}

@keyframes attack-4 {
    5% {
        left: 400px;
        top: 700px;
    }
    15% {
        left: 425px;
        top: 700px;
    }
    27.5% {
        left: 550px;
        top: 700px;
    }
    50% {
        left: 550px;
        top: 700px;
    }
    100% {
        left: 550px;
        top: 700px;
    }
}

@keyframes attack-5 {
    5% {
        left: 400px;
        top: 800px;
    }
    15% {
        left: 400px;
        top: 800px;
    }
    27.55% {
        left: 500px;
        top: 800px;
    }
    50% {
        left: 500px;
        top: 800px;
    }
    100% {
        left: 500px;
        top: 800px;
    }
}


@keyframes go-back {
    5% {
        left: 1000px;
        top: 300px;
    }
    15% {
        left: 1000px;
        top: 300px;
    }
    27.5% {
        left: 1000px;
        top: 300px;
    }
    50% {
        left: 1000px;
        top: 300px;
    }
    65% {
        left: 1050px;
        top: 325px;
    }
    85% {
        left: 1050px;
        top: 325px;
    }
    90% {
        left: 1100px;
        top: 325px;
    }
    100% {
        left: 1100px;
        top: 325px;
    }
}

@keyframes ottoman-cav {
    5% {
        left: 1100px;
        top: 400px;
    }
    15% {
        left: 1100px;
        top: 400px;
    }
    27.5% {
        left: 1100px;
        top: 400px;
    }
    50% {
        left: 1100px;
        top: 400px;
    }
    65% {
        left: 1100px;
        top: 400px;
    }
    70% {
        left: 1025px;
        top: 350px;
    }
    100% {
        left: 1025px;
        top: 350px;
    }
}