body {
    min-height: 100vh;
}

.img {
    height: 40px;
}

.army-eng {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    height: 50px;
    width: 125px;
    background-color: red;
    border: 1px solid silver;
    transform: translate(200px, 200px);

}
.de-bush {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 125px;
    background-color: red;
    border: 1px solid silver;
    transform: translate(300px, 100px);
    margin: 2px;
    animation: attack-flang 10s;
}

.charges {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 125px;
    background-color: blue;
    border: 1px solid silver;
    transform: translate(100px, 250px);
    margin: 2px;
    animation: attack-flang 10s;
}

.center {
    animation: attack 10s;
}
.center-eng {
    animation: oborone 10s;
}

.army-fre {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 125px;
    background-color: blue;
    border: 1px solid silver;
    transform: translate(200px, 300px);
    margin: 2px;
}


.army-fre-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 125px;
    background-color: blue;
    border: 1px solid silver;
    transform: translate(200px, 400px);
    margin: 2px;
}


.army-fre-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 125px;
    background-color: blue;
    border: 1px solid silver;
    transform: translate(200px, 500px);
    margin: 2px;
}



.eng {
    display: flex;
}

.fre {
    display: flex;
}


@keyframes attack {
    30% {
        transform: translate(200px, 255px);
    }
    53% {
        transform: translate(201px, 265px);
    }
    54% {
        transform: translate(200px, 264px);
    }
    55% {
        transform: translate(201px, 265px);
    }
    56% {
        transform: translate(200px, 264px);
    }
    73% {
        transform: translate(200px, 264px);
    }
    100% {
        transform: translate(200px, 750px);
    }
}


@keyframes oborone {
    30% {
        transform: translate(200px, 245px);
    }
    53% {
        transform: translate(201px, 255px);
    }
    54% {
        transform: translate(200px, 254px);
    }
    55% {
        transform: translate(201px, 255px);
    }
    56% {
        transform: translate(200px, 254px);
    }
    60% {
        transform: translate(201px, 256px);
    }
    70%{
        transform: translate(201px, 256px);
    }
    100% {
        transform: translate(200px, 300px);
    }
}

@keyframes attack-flang {
    10% {
        transform: translate(300px, 90px);
    }
    30% {
        transform: translate(300px, 110px);
    }
    40% {
        transform: translate(150px, 150px);
    }
    55% {
        transform: translate(100px, 200px);
    }
    60% {
        transform: translate(50px, 260px);
        rotate: 0deg;
    }
    70%{
        transform: translate(50px, 450px) rotate(-90deg);
    }
    80% {
        transform: translate(50px, 450px) rotate(-90deg);
    }
    100% {
        transform: translate(60px, 500px);
        rotate: 0deg;
    }
}
