doctype html
html
    head
        meta(charset="UTF-8")
        title Youtube
        link(
            rel="icon"
            href="pngwing.com.png"
            type="image/x-icon"
            )
        link(rel="stylesheet" href="new.css")
        

    body
        .container
            .aside
                a(href="cat.html")
                    img.youtube(src="pngwing.com.png", alt="youtube")
                a(href="mahovik.html")
                    img.banner(src="маховик.jpg")