doctype html
html
    head
        meta(charset="UTF-8")
        title Youtube
        link(
            rel="icon"
            href="pngwing.com.png"
            type="image/x-icon"
            )
        
        link(rel="stylesheet" href="style.css")
    body
        .container
            .aside
                a(href="cat.html")
                    img.youtube(src="pngwing.com.png", alt="youtube")


                

            .main
                .bloc
                    a(href="henry.html")
                        video.video(controls)
                            source(src="/home/azamat/Videos/youtube/Завоевания Генриха V ⚔️ Столетняя война (части 5-9) ⧸⧸ Маховик Истории [gLbjuw-Vsvo].webm" type="video/webm")
                    .block
                        img.banner.first(src="маховик.jpg")
                        p.first Завоевания Генриха V ⚔️ Столетняя война (части 5-9)
                .bloc
                    video.video(controls)
                        source(src="/home/azamat/Videos/youtube/Столетняя война (серии 1-4) ⧸⧸ Маховик Истории [SoHS05Jl13I].webm" type="video/webm")
                    .block
                        img.banner.first(src="маховик.jpg")
                        p.first Столетняя война (серии 1-4)
                .bloc
                    video.video(controls)
                        source(src="/home/azamat/Videos/youtube/Продолжение Столетней войны ⚔️ Битва при Вернёе 1424 г. ⧸⧸ Столетняя война #10.webm" type="video/webm")
                    .block
                        img.banner.first(src="маховик.jpg")
                        p.first Продолжение Столетней войны ⚔️ Битва при Вернёе 1424 г. ⧸⧸ Столетняя война #10
                .bloc
                    video.video(controls)
                        source(src="/home/azamat/Videos/youtube/Полная история Харальда III Сурового ⚔️ Последний викинг (все части) ⧸⧸ Маховик Истории [8PRITk7tqz8].mp4" type="video/mp4")
                    .block
                        img.banner.first(src="маховик.jpg")
                        p.first Полная история Харальда III Сурового ⚔️ Последний викинг (все части) 


                .bloc
                    video.video(controls)
                        source(src="/home/azamat/Videos/youtube/Завоевания Александра Македонского (все части) ⧸⧸ Маховик Истории [OM1EPTU6DWM].mp4" type="video/mp4")
                    .block
                        img.banner.first(src="маховик.jpg")
                        p.first Завоевания Александра Македонского (все части) ⧸⧸ Маховик Истории

                        
                        



