doctype html
html
    head
        meta(charset="UTF-8")
        title Youtube
        link(
            rel="icon"
            href="/home/azamat/html/youtube/geo/pngwing.com.png"
            type="image/x-icon"
            )
        
        link(rel="stylesheet" href="style.css")
    body
        .main
            .account 
                form(id="main-form" method="post")
                    h1 письмо

                    label(for="name") к кому
                    br
                    input.input(type="text" name="name" placeholder="куда" id="name")

                    label(for="name") текст
                    br
                    input.input(type="text" name="name" placeholder="текст" id="name")
                    label(for="name") от кого
                    br
                    input.input(type="text" name="name" placeholder="от кого" id="name")
